.root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.toggleBlock {
  display: flex;
  flex: none;
  justify-content: center;
}

.isQuokka {
  background-color: var(--bg-dark);
}

.button {
  display: inline-flex;
  margin: 1rem auto;
  border: none;
  background-color: rgba(226, 232, 240, 1);
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
}
